.create-final-page {
  &__services-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 20px 10px;
  }
  &__button {
    position: relative;
    border-radius: 5px;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    user-select: none;
    outline: none;
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
    font-size: 2.5em;
    border: 0px solid transparent;
    user-select: none;
    cursor: default;
    box-shadow: 0 2px 10px #495454;
    margin: 10px;
    &_service {
      width: 180px;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
    &_toservices {
      flex: 0 0 250px;
    }
    &_pay {
      width: 250px;
      flex: 0 0 auto;
      align-self: flex-end;
    }
    &_washer {
      flex: 0 0 auto;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &_box {
      flex: 0 0 150px;
    }
    &_num {
      flex: 0 0 200px;
    }
    &_typeauto {
      height: 40px;
      padding: 5px;
      flex: 0 0 150px;
    }
    &_green {
      color: white;
      background: #00bfa5;
    }
    &_selected {
      color: #523333;
      background: #ffc126;
    }
  }
  &__service-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__service-cost {
    align-self: flex-end;
  }
  &__service-action {
    padding: 10px;
    width: 30px;
    position: absolute;
    border-radius: 50%;
    color: white;
    z-index: 1;
    box-shadow: 0 2px 10px #495454;
  }
}
